body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: url('images/AboutKiama.png') center/cover fixed no-repeat; /* Replace 'your-background-image.jpg' with the actual image path */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    object-fit: contain;
}
@media (max-width: 800px) {
    .box{
        max-width: 200px;
    }
    ul, ol {
        color: #000000;
        margin-left: 10px;
    }
    .text-wrapper{
        font-size: 10px;
    }
}

.box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    width: 80%;
    max-width: 800px;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #ac1fedc7;
}

.text-wrapper {
    display: none;
    opacity: 0;
    font-size: 15px;
    transition: opacity 4s ease-in-out;
}

.text-wrapper.active {
    display: block;
    opacity: 1;
}

h2 {
    color: #0023d0c7;
}

p {
    color: #080808;
}

ul, ol {
    color: #000000;
    margin-left: 20px;
}

/* Additional styles as needed */
