
#map-container {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

#map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#contact-info p {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center; /* Align items vertically */
}

#contact-info {
    text-align: center;
    padding: 20px;
    margin-top: 20px; 
}

#contact-info i {
    margin-right: 5px;
}
.navigation-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    position: relative;
}

.navigation-menu a:hover {
    outline: 2px solid transparent;
    animation: neon-glow 1s ease-in-out infinite alternate;
}
@keyframes neon-glow {
    from {
        outline-color: transparent;
        box-shadow: 0 0 5px #ff00ff, 0 0 20px #ff00ff, 0 0 50px #ff00ff, 0 0 100px #ff00ff;
    }
    to {
        outline-color: #ff00ff;
        box-shadow: 0 0 5px #ff00ff, 0 0 20px #ff00ff, 0 0 50px #ff00ff, 0 0 100px #ff00ff;
    }
}
@media (max-width: 700px) {
    #map-container {
        height: 300px;
    }
}
.contact-link {
    display: inline-flex; /* Combine icon and text */
    align-items: center; /* Align vertically */
    margin-right: 15px; /* Add spacing */
}

.contact-link i {
    margin-right: 5px; /* Space between icon and text */
}
a {
    text-decoration: none;
}
.contact-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #81027ecc; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.contact-link:hover:after {
    opacity: 1;
}
