* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(230, 0, 92), rgb(153, 0, 153), rgb(0, 184, 230), rgb(26, 117, 255));
    position: absolute;
    object-fit: cover;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 70px;
    border-radius: 18px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #235df1;
    display: block;
    margin: auto;
    transition: 0.5s; 
}
.nav-links ul li:hover::after{
    width:100%;
}

@keyframes slideRotateReturn {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(0deg);
    }
    25% {
        opacity: 1;
        transform: translateX(0) rotate(180deg);
    }
    50% {
        opacity: 1;
        transform: translateX(0) rotate(360deg);
    }
    75% {
        opacity: 1;
        transform: translateX(0) rotate(540deg);
    }
    100% {
        opacity: 0;
        transform: translateX(100%) rotate(720deg);
    }
}

.content {
    text-align: center;
    position: relative;
    z-index: 1;
}
nav .fa{
    display: none;
}

/* .content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 335;
} */

/* Media query for smaller screens */
@media (max-width: 800px) {
    .content h1{
        font-size: 40px; /* Adjust the font size for smaller screens */
    }
    nav .logo{
        width: 60px;
    }
 
    .hero audio {
        width: 40%; /* Adjust the width as needed for smaller screens */
        position: fixed;
        bottom: 135px;
        margin-bottom: 140px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #b304e3;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .hero .back-video{
        object-fit: fill;
        width: 100%;
    }
    nav .fa{
        display:block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .content a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 2px;
        border: 2px solid #fff;
        padding: 14px 70px;
        border-radius: 50px;
        margin-top: 20px;
    }

}

.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1.5px #0455e3;
    font-size: 40px;
}

.content h1:nth-child(2) {
    color: #5b87d2;
    animation: animate 4s ease-in-out infinite;
}


@keyframes water-wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(10%);
    }
}

.content a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.content a:hover{
    border: 1px solid #3659f4;
    background: #3659f4;
    transition: 1s;
}

.back-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: none;
    z-index: -1;
}


@media (min-width: 1000px) {
    .back-video {
        object-fit: fill;
        max-height: 99.9%;
        margin: 0 auto;
    }
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 4/3) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.hero audio {
    position: fixed;
    bottom: 35px;
    margin-bottom: 45px;
}

/* Add a hover effect */
audio:hover {
    transform: translateX(-50%) scale(1.1);
    transition: transform 0.3s ease-in-out;
}
/*------------------course--------------------*/
.about {
    background-image: url('images/AboutKiama.png'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass-container {
    background: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for transparency */
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    text-align: center;
}

.glass-container h2 {
    color: #fff; /* Set the text color */
}

.glass-container p {
    color: #fff; /* Set the text color */
}