body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
}

.box {
  background: linear-gradient(to right, #ff004d, #00f2ff, #ffff00);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: static;
  opacity: 0.9; /* Set the opacity level */
}

@media (max-width: 800px) {
  .box {
    max-width: 200px;
  }
  .text-wrapper {
    font-size: smaller;
  }
  .card-text h2 {
    font-size: 10px;
  }
  h1{
    font-size: 7px;
  }
}

h1 {
  text-align: center;
  color: #ac1fedc7;
  font-size: 16px;
}

.text-wrapper {
  display:none;
  opacity: 0;
  font-size: 13px;
  transition: opacity 4s ease-in-out;
}

.text-wrapper.active {
  display: block;
  opacity: 1;
}

.card-image {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}

.card-text {
  width: 80%;
  padding: 20px;
}

.card-text h2 {
  font-size: 20px;
  margin-bottom: 12px;
}
